.flex-container {
    display: flex;
}
.inline-flex-container {
    display: inline-flex;
}
.flex-justify-space-between {
    justify-content: space-between;
}
.flex-justify-content-flex-end {
    justify-content: flex-end;
}
.align-items-center {
    align-items: center;
}
.flex-wrap-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap-wrap {
    flex-wrap: wrap;
}
.flex-0-0-100 {
    flex: 0 0 100%;
}
