@charset "UTF-8";
/* 공통 */
.wrap {
  width: 1276px;
  margin: 0 auto;
}

input:focus {
  outline: none;
}

/* 메인 */
#app .advertising {
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-top: 0;
}

#app .advertising a {
  display: block;
}

#app .advertising a img {
  width: 100%;
}

#app .board_box {
  margin: 30px 0 0;
  overflow: hidden;
}

#app .board_box .left {
  float: left;
  width: calc(100% - 325px);
}

#app .board_box .left ul.category {
  overflow: hidden;
  margin: 0 0 10px;
}

#app .board_box .left ul.category li {
  margin: 0 0 0 7px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid #cbc7c7;
  border-radius: 10px;
  float: left;
}

#app .board_box .left ul.category li:first-child {
  margin: 0;
}

#app .board_box .left ul.category li a {
  box-sizing: border-box;
  padding: 6px 7px 6px 1px;
  display: inline-block;
  font-size: 18px;
  color: #3e3e3e;
}

#app .board_box .left ul.category li a img {
  height: 25px !important;
  margin: 0 9px 0 0;
}

#app .board_box .left ul.tab {
  border: 1px solid #cbc7c7;
  border-radius: 10px;
  margin: 0 0 10px;
  padding: 10px 5px;
  box-sizing: border-box;
}

#app .board_box .left ul.tab li {
  display: inline-block;
}

#app .board_box .left ul.tab li a {
  display: inline-block;
  padding: 3px 12px;
  color: #7a7a7a;
  font-size: 16px;
  letter-spacing: 0;
}

#app .board_box .left ul.tab li.on a {
  color: #625777;
  position: relative;
  font-weight: 500;
}

#app .board_box .left ul.tab li.on a:after {
  display: block;
  content: "";
  background-color: #625777;
  height: 1px;
  width: calc(85% - 12px);
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

#app .board_box .left div.list {
  border: 1px solid #cbc7c7;
  border-radius: 10px;
  min-height: 686px;
}

#app .board_box .left div.list table tr {
  border-bottom: 1px solid #cbc7c7;
}

#app .board_box .left div.list table tr td {
  padding: 9px 0;
}

#app .board_box .left div.list table tr td span.updown {
  margin: 2px 0 0;
  font-size: 8px;
  color: #e60013;
  text-align: center;
  display: block;
  padding: 28px 0 0;
  background-image: url("/image/icon_up.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

#app .board_box .left div.list table tr td span.down {
  background-image: url("/image/icon_down.png");
  color: #0008f9;
}

#app .board_box .left div.list table tr td div.thum {
  width: 70px;
  height: 50px;
  background-color: #fbc4c4;
  background-image: url("/image/thum.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#app .board_box .left div.list table tr td div.title a {
  display: block;
  overflow: hidden;
  padding: 0 0 3px 4px;
  box-sizing: border-box;
}

#app .board_box .left div.list table tr td div.title a p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 19px;
  letter-spacing: 0;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 100px);
  font-weight: 500;
}

#app .board_box .left div.list table tr td div.title a span {
  margin-left: 7px;
  font-size: 19px;
  font-weight: 500;
  padding: 0 30px 0 0;
  box-sizing: border-box;
}

#app .board_box .left div.list table tr td div.user p {
  font-size: 12px;
  color: #666;
}

#app .board_box .left div.list table tr td div.user p span {
  color: #0008f9;
  margin: 0 5px 0 0;
}

#app .board_box .right {
  width: 303px;
  float: right;
  margin: 0 0 0 22px;
}

#app .board_box .right .best {
  border: 1px solid #cbc7c7;
  border-radius: 10px;
  overflow: hidden;
}

#app .board_box .right .best ul {
  overflow: hidden;
  border-bottom: 1px solid #b5b5b5;
}

#app .board_box .right .best ul li {
  float: left;
  width: 50%;
}

#app .board_box .right .best ul li:first-child {
  border-right: 1px solid #b5b5b5;
  box-sizing: border-box;
}

#app .board_box .right .best ul li a {
  font-size: 19px;
  color: #282828;
  background-color: #e9e9e9;
  display: block;
  text-align: center;
  padding: 8px 0;
  letter-spacing: 1.9px;
}

#app .board_box .right .best ul li.on a {
  background-color: #fff;
}

#app .board_box .right .best ol li {
  border-top: 2px solid #f0f0f0;
}

#app .board_box .right .best ol li:first-child {
  border: 0;
}

#app .board_box .right .best ol li a {
  font-size: 18px;
  color: #282828;
  display: block;
  padding: 5px 18px;
  box-sizing: border-box;
  overflow: hidden;
}

#app .board_box .right .best ol li:first-child a {
  padding: 9px 18px 7px;
}

#app .board_box .right .best ol li a span {
  color: #e60013;
  font-size: 12px;
  margin: 4px 12px 0 0;
  padding: 0 0 0 25px;
  background-image: url("/image/icon_triup.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  float: left;
}

#app .board_box .right .best ol li a p {
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 70px);
  overflow: hidden;
  letter-spacing: 0;
}

#app .board_box .right .right_sub {
  border: 1px solid #cbc7c7;
  border-radius: 10px;
  overflow: hidden;
}

#app .board_box .right .right_sub ul {
  overflow: hidden;
  border-bottom: 1px solid #b5b5b5;
}

#app .board_box .right .right_sub .info {
  background-color: #5a4e70;
  color: #f6f6f8;
  display: block;
  border-radius: 10px 10px 0 0;
  padding: 10px 0 10px 10px;
  letter-spacing: 1.9px;
  font-size: 20px;
}

#app .board_box .right .right_sub ul li:first-child {
  border-right: 1px solid #b5b5b5;
  box-sizing: border-box;
}

#app .board_box .right .right_sub ul li a {
  font-size: 19px;
  color: #282828;
  background-color: #e9e9e9;
  display: block;
  text-align: center;
  padding: 8px 0;
  letter-spacing: 1.9px;
}

#app .board_box .right .right_sub ul li.on a {
  background-color: #fff;
}

#app .board_box .right .right_sub ol li {
  border-top: 2px solid #f0f0f0;
}

#app .board_box .right .right_sub ol li:first-child {
  border: 0;
}

#app .board_box .right .right_sub ol li a {
  font-size: 18px;
  color: #282828;
  display: block;
  padding: 5px 18px;
  box-sizing: border-box;
  overflow: hidden;
}

#app .board_box .right .right_sub ol li:first-child a {
  padding: 9px 18px 7px;
}

#app .board_box .right .right_sub ol li a span {
  color: #e60013;
  font-size: 12px;
  margin: 4px 12px 0 0;
  padding: 0 0 0 25px;
  background-image: url("/image/icon_triup.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  float: left;
}

#app .board_box .right .right_sub ol li a p {
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 70px);
  overflow: hidden;
  letter-spacing: 0;
}

#app .board_box .right .link {
  margin: 20px 0 0;
  border: 1px solid #cbc7c7;
  border-radius: 20px;
  padding: 0 10px 9px;
  box-sizing: border-box;
}

#app .board_box .right .link p {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  margin: 17px 0 0;
  color: #282828;
}

#app .board_box .right .link ul {
  padding: 10px 0 0;
}

#app .board_box .right .link ul li {
  margin: 10px 0 0;
}

#app .board_box .right .link ul li a {
  background-color: #5a4e70;
  color: #f6f6f8;
  display: block;
  border-radius: 10px;
  padding: 5px 0;
  text-align: center;
  letter-spacing: 1.9px;
  font-size: 20px;
}

/*
Custom 
*/
#app .board_box .left .add_planet {
  width: 200px;
  margin: 10px 0 10px auto;
}

#app .board_box .left .add_planet a {
  background-color: #5a4e70;
  color: #f6f6f8;
  display: block;
  border-radius: 10px;
  padding: 5px 0;
  text-align: center;
  letter-spacing: 1.9px;
  font-size: 20px;
}

.right .right_sub > .info_detail {
  padding: 0 10px 9px;
  margin: 0 auto;
  width: 88%;
}

.right .right_sub .info_detail .description {
  margin: 10px 0 10px;
  word-break: break-all;
  padding-bottom: 10px;
  border-bottom: 2px black solid;
}

.right .right_sub .info_detail .flex {
  display: flex;
}

.right .right_sub .info_detail .flex .flex_item {
  flex: auto;
}

.right .right_sub .info_detail .flex .flex_item div {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  height: 24px;
  font-weight: bold;
  font-stretch: normal;
}

.right .right_sub .info_detail .flex .flex_item p {
  line-height: 1.5;
  letter-spacing: 0.32px;
  height: 24px;
  font-size: 16px;
}

/* 
Done
*/
@media screen and (max-width: 1440px) {
  .wrap {
    width: 1276px;
  }
}
